@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1d1d1d;
}

header {
    text-align: center;
    color: white;
}

main {
    background-color: white;
    text-align: justify;
    margin: auto;
    min-height: 490px;
    max-width: 600px;
    padding: 10px;
    border-radius: 2px;
}

footer {
    text-align: center;
    font-size: .9em;
    font-style: italic;
    color: white;
}