@charset "UTF-8";
@font-face {
    font-family: 'Romanica';
    src: url('../fonts/Romanica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root { /*Variáveis*/
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-titulo: 'Romanica';

    --cor0: #EAC102;
    --cor1: #ED1C24;
    --cor2: #7898CF;
    --cor-padrao: #1d1d1d;
}

* { /*Seletor global*/
    margin: 0px;
}

body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor-padrao);
    font-weight: normal;
    font-style: normal;
}

header#cabecalho { /*Cabeçalho do site*/
    position: relative;
    background-color: white;
    font-family: var(--fonte-titulo);
    min-height: 50px;
    max-height: 60px;
    padding: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.322);
}

header#cabecalho h1 {
    font-size: 1.1em;
}

header#cabecalho p {
    position: relative;
    font-size: 0.8em;
    width: 190px;
    top: -8px;
    display: inline-block;
}

header#cabecalho img {
    position: relative;
    top: -1em;
}

/* Imagens para o cabeçalho
header#cabecalho img#ressureicao {
    position: absolute;
    top: -0.9em;
    left: 40em;
    width: 5em;
}

header#cabecalho img#sedevacante {
    position: absolute;
    width: 3em;
    top: 0.7em;
    left: 80.9em;
}
*/

main header { /*Cabeçalho do conteúdo principal*/
    text-align: center;
    font-family: var(--fonte-titulo);
    color: black;
    background-color: transparent;
    font-size: 1.4em;
    margin: 30px;
}

main article { /*Artigo principal do site*/
    background-color: white;
    text-align: justify;
    margin: auto;
    min-height: 500px;
    max-width: 1000px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.322);
}

main section { /*Seções aonde estão as orações*/
    margin-bottom: 8px;
    margin-top: 8px;
}

main h1 {
    font-family: var(--fonte-titulo);
    font-size: 2em;
    text-indent: 5px;
    margin: 15px 0px 15px 5px;
}

main h2 {
    text-indent: 5px;
    margin: 15px 0px 15px 5px;
    font-family: var(--fonte-titulo);
}

main p {/*Todo parâgrafo dentro da tag 'main' terá uma altura de linha em 30px*/
    line-height: 30px;
}

p.oracao { /*Todo parâgrafo com a classe 'oracao' terá um recuo de 30 pixels*/
    text-indent: 30px;
}

footer { /*Rodapé do site*/
    background-color: white;
    text-align: center;
    font-size: .9em;
    font-style: italic;
    color: black;
    margin-top: 15px;
    padding: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.322);
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
    color: #1d1d1d;
}