@charset "UTF-8";
@font-face {
    font-family: 'Romanica';
    src: url('../fonts/Romanica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-titulo: 'Romanica';

    --cor0: #EAC102;
    --cor1: #ED1C24;
    --cor2: #E6E6E6;
}

* {
    margin: 0px;
}

body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor0);
    font-weight: normal;
    font-style: normal;
}

header#cabecalho {
    background-color: white;
    font-family: var(--fonte-titulo);
    min-height: 50px;
    max-height: 60px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.233);
}

header#cabecalho h1 {
    font-size: 1.1em;
}

header#cabecalho p {
    position: relative;
    font-size: 0.8em;
    width: 190px;
    top: -8px;
    display: inline-block;
}

header#cabecalho img {
    position: relative;
    top: -15px;
}

main header {
    text-align: center;
    font-family: var(--fonte-titulo);
    color: black;
    background-color: transparent;
    font-size: 1.4em;
    margin: 30px;
}

main header div.image {
    height: 140px;
    width: 100px;
}

main article {
    background-color: white;
    text-align: justify;
    margin: auto;
    min-height: 500px;
    max-width: 900px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.322);
}

main section {
    margin-bottom: 8px;
    margin-top: 8px;
}

main h1 {
    font-family: var(--fonte-titulo);
    font-size: 2em;
    text-indent: 5px;
    margin: 8px;
}

main h2, h3 {
    text-indent: 5px;
    margin: 8px;
    font-family: var(--fonte-titulo);
}

main p {
    line-height: 30px;
}

main abbr {
    text-decoration: none;
}

p.oracao {
    text-indent: 30px;
}

footer {
    background-color: white;
    text-align: center;
    font-size: .9em;
    font-style: italic;
    color: black;
    margin-top: 15px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.247);
}