@charset "UTF-8";
@font-face {
    font-family: 'Old London';
    src: url('../fonts/OldLondon.ttf') format('truetype'), url('../fonts/Olondona.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Romanica';
    src: url('../fonts/Romanica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Romanica';
    --fonte-titulo: 'Old London';

    --cor0: #EAC102;
    --cor1: #ED1C24;
    --cor2: #E6E6E6;
}

body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor0);
}

header {
    text-align: center;
    font-family: var(--fonte-titulo);
    color: white;
}

main {
    background-color: white;
    text-align: justify;
    margin: auto;
    min-height: 490px;
    max-width: 600px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.322);
}

p.oracao {
    text-indent: 30px;
}

footer {
    text-align: center;
    font-size: .9em;
    font-style: italic;
    color: white;
}